body {
	margin: 20px;
	padding: 10px;
	border-top-color: #2323aa;
	border-top-width: 5px;
	border-top-style: double;
	font-family: sans-serif;
    text-align: center; /* Keeping everything center aligned on this page */

}

.the-form {
    color: #334433;
    font-size: 1.5em;

    border-bottom-width: 5px;
    border-bottom-style: double;
    border-bottom-color: #443344;
    text-align: center;

    line-height: 2em;

}

.headers {
    color: #4545bb;
}

.headers h1 {
    font-size: 2.5em;
    border-bottom-color: #5656ff;
    border-bottom: 5px solid;
    border-bottom-style: groove
    
}

#submission {
    color: #454545;
    width: 150px;
    border: none;
    margin: 5px;
    padding: 1px;
    background: #a4a4a4;
}

footer {
    color: #334433;
    font-variant: small-caps;
    margin-top: 10px;
    padding-top: 10px;
}
